/* header section */
.header{
    background-color: #f1f8fd;
    height: 150px;    
}
.navbar{        
    background-color: #f1f8fd !important;
    padding: 5% 7%;
    box-shadow: 0px 0.5px #fff;        
}
.nav-item{
    padding-left: 2%;
    padding-right: 2%;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    font-weight: bold;
    font-style: normal ;
    line-height: 1.875rem ;
}

.sectionHeaders{
    width: 70%;
    margin: 0 auto 0 auto;
    padding: 2%
}

.timeSectionHeaders{
    width: 55%;
    margin: 0 auto 0 auto;
    padding-bottom: 3%;    
}

.timeDiv{
    text-align: center;
    padding: 2%;    
}
#accTimePie{
    padding-right: 0;
}

/* treemap section */
.locations{
    height: 600px;
    background-color: #f1f8fd;        
    font-family: 'Roboto', sans-serif;
    padding: 5% 10%;
    font-style: normal ;
    line-height: 1.875rem ;
    letter-spacing: .1px;
    padding-bottom: 44%;
}
h3{
    font-weight: bolder !important;
}
h4{
    font-weight: bolder !important;
}
.row{
    margin: 0;
}
.custom-select{
    width: 50%;
}
.pFilters{
    padding-top: 4%;
}
/* barChart section */
.time{
    height: 600px;
    background-color: #005691;        
    font-family: 'Roboto', sans-serif;
    padding: 5% 10%;
    font-style: normal ;
    line-height: 1.875rem ;
    letter-spacing: .1px;
    color: #fff;
    padding-bottom: 44%;
}

.bar {
    fill: steelblue;
  }

.bar:hover {
    fill: brown;
}

.weather{
    height: 600px;
    background-color: #f1f8fd;        
    font-family: 'Roboto', sans-serif;
    padding: 5% 10%;
    font-style: normal ;
    line-height: 1.875rem ;
    letter-spacing: .1px;
    padding-bottom: 44%;   
}

.maps{
    height: 600px;
    padding: 5% 10%;
    background-color: #005691;        
    text-align: center;
    color: #fff;
}

/* footer section */
.footer{
    height: 60px;
    background-color: #f1f8fd;        
    font-family: 'Roboto', sans-serif;    
    font-style: normal ;    
    line-height: 1.875rem ;
    letter-spacing: .1px;      
}

h6{
    margin: 0; 
    font-weight: bold;
    padding: 2% 10%;
}
/*
    D3 tool tip
*/
.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 5px;
  }

.d3-tip-pie{
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 5px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

#chart-area svg {
    margin:auto;
    display:inherit;
}

/*
This is for legend
*/
.tableLegend {
    font-size: .7em !important;
}
